*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'poppins',sans-serif;
}


body{
    color: white;
    overflow: hidden;
    background-color: #000000;
    overflow-y:scroll;
    background-size: cover;
    background-repeat: no-repeat;
    opacity:1;
}